<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ "PageTitle" | shape_new | shape_stringify }}</title>
    {% resources type: "Meta" %}
    
    {% link type:"image/x-icon", rel:"shortcut icon", href:"~/TheAgencyTheme/favicon.ico" %}
    
    {% style name:"theagencytheme-bootstrap-oc", version:"1" %}  
    {% script name:"font-awesome", version:"5", at:"Head" %}
    {% script name:"TheAgencyTheme-bootstrap-bundle", at:"Foot" %}    
    {% script name:"TheAgencyTheme", at:"Foot" %}
    {% resources type: "HeadScript" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% render_section "HeadMeta", required: false %}
</head>
<body dir="{{ Culture.Dir }}">
       
    {{ Model.ContentItem | display_text }}
    {% render_body %}
    
    <footer>
    {% render_section "Footer", required: false %}
    </footer>
    
    {% script name:"jquery", use_cdn:"true", at:"Foot" %}
    
    {% resources type: "FootScript" %}
</body>
</html>